.categoria {
  padding: 0 24px;
  width: 100%;
}

.busque {
  font-size: 32px;
  width: 360px;
  margin: 0 auto 32px;
}

.pacote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--background-secondary-color);
  width: 100%;
  height: 220px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  font-size: 28px;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.075);
  transition: 0.2s;
}

.pacote:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.123);
}

@media (min-width: 768px) {
  .busque {
    width: 100%;
  }

  .pacote {
    width: 312px;
  }
}

@media (min-width: 1440px) {
  .categoria {
    padding: 0 120px;
  }
  .pacote {
    width: 281px;
  }
}
