.destinos-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 88px;
  margin-top: 40px;
  padding: 0 24px;
  color: var(--text-primary-color);
}

.destino {
  display: flex;
  flex-direction: column;
  line-height: 35px;
  font-size: 20px;
  width: 100%;
}

.osaka {
  width: 100%;
  height: 312px;
}

.destino h3 {
  margin-top: 16px;
}

.destino p {
  margin: 24px 0px;
}

.destino-btn {
  width: 100%;
}

@media (min-width: 768px) {
  .destinos-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .osaka {
    height: 452px;
  }

  .destino-btn {
    width: 280px;
    align-self: start;
  }
}

@media (min-width: 1440px) {
  .destinos-container {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding: 0px 120px;
  }

  .osaka {
    height: 400px;
  }
}
