.nav-header {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  list-style: none;
  padding: 16px 0px;
}

.links ul {
  display: flex;
  align-items: center;
}

.links-icon {
  margin-left: 16px;
}

.links li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0px;
}

.links a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: 300;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.lang {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--background-tertiary-color);
}

.changing-language {
  appearance: base-select;
  color: var(--text-secondary-color);
  background-color: #2d2d2d;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  padding: 16px 8px;
  height: 100%;
  width: 100%;
}

.changing-language::picker(select) {
  appearance: base-select;
  background-color: var(--background-quaternary-color);
  color: var(--text-secondary-color);
  border: none;
}

.changing-language::picker-icon {
  transition: 0.15s ease;
  align-content: center;
  margin-left: 8px;
  font-size: 12px;
}

.changing-language:open::picker-icon {
  rotate: 180deg;
}

.changing-language option {
  padding: 16px 8px;
}

.changing-language option::checkmark {
  content: none;
}

.redes-menu {
  color: var(--text-secondary-color);
  margin-bottom: 24px;
  font-size: 16px;
  border-top: 2px solid var(--button-primary-color);
  padding-top: 24px;
}

.redes-menu ul {
  gap: 32px;
}

@media (min-width: 450px) {
  .nav-header {
    width: 40vw;
  }

  .links a {
    font-size: 20px;
  }

  .redes-menu p {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .nav-header {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;

    background-color: var(--background-quaternary-color);
    height: 100vh;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition:
      transform 0.5s ease,
      opacity 0.3s ease;
  }

  .menu {
    background-color: var(--background-tertiary-color);
    border: none;
    position: relative;
  }

  .menu:hover {
    cursor: pointer;
  }

  .fechar {
    padding: 16px 16px 16px 0px;
    background-color: transparent;
  }

  .fechar-links {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid var(--button-primary-color);
  }

  .links {
    display: flex;
    flex-direction: column;
    top: 0px;
    right: 0px;
    border-bottom: 2px solid var(--button-primary-color);
  }

  .links--aberto {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .links li:hover {
    background-color: #2d2d2d;
  }

  .redes-menu {
    left: 88px;
  }
}

@media (min-width: 1024px) {
  .nav-header {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .links {
    gap: 40px;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: auto;
    background-color: transparent;
    justify-content: flex-end;
  }

  .links a {
    transition: 0.2s;
  }

  .links a:hover {
    color: #ffffff94;
  }

  .lang {
    background-color: var(--background-quaternary-color);
    margin-left: 24px;
    border-radius: 16px;
  }

  .changing-language {
    font-size: 18px;
    border-radius: 16px;
    background-color: var(--background-quaternary-color);
  }

  .changing-language:open {
    border-radius: 16px 16px 0px 0px;
  }

  .changing-language::picker(select) {
    border-radius: 0px 0px 16px 16px;
  }
}

.links {
  display: flex;
}
