.nav-header {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  list-style: none;
}

.links ul {
  display: flex;
  align-items: center;
}

.links-icon {
  margin-left: 16px;
}

.links li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0px;
}

.links a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: 300;
  font-size: 16px;
}

.redes-menu {
  color: var(--text-secondary-color);
  margin-bottom: 24px;
}

.redes-menu ul {
  gap: 32px;
}

@media (min-width: 426px) {
  .nav-header {
    width: 40vw;
  }

  .links a {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .nav-header {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;

    background-color: var(--background-quaternary-color);
    height: 100vh;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition:
      transform 0.5s ease,
      opacity 0.3s ease;
  }

  .menu {
    background-color: var(--background-tertiary-color);
    border: none;
    position: relative;
  }

  .menu:hover {
    cursor: pointer;
  }

  .fechar {
    padding: 16px 16px 24px;
    background-color: transparent;
  }

  .fechar-links {
    display: flex;
    justify-content: flex-end;
  }

  .links {
    display: flex;
    flex-direction: column;
    top: 0px;
    right: 0px;
  }

  .links--aberto {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .links li:hover {
    background-color: #2d2d2d;
  }

  .redes-menu {
    left: 88px;
  }
}

@media (min-width: 1024px) {
  .links {
    gap: 40px;
    align-items: center;
    position: relative;
    height: auto;
    background-color: transparent;
    justify-content: flex-end;
  }

  .links a {
    transition: 0.2s;
  }

  .links a:hover {
    color: #ffffff94;
  }
}

.links {
  display: flex;
}

@media (min-width: 1024px) {
  .links {
    flex-direction: row;
    align-items: center;
    position: relative;
    height: auto;
    background-color: transparent;
    justify-content: flex-end;
  }

  .links a {
    transition: 0.2s;
  }

  .links a:hover {
    color: #ffffff94;
  }
}
