.pagamento {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
  justify-content: center;
}

.pagamento-titulo {
  font-size: 32px;
  text-align: center;
  margin: 0 auto 15px;
  padding-bottom: 25px;
  width: 230px;
  position: relative;
}


.pagamento-titulo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 4px;
  background-color: var(--button-primary-color);
}

.pagamento h3 {
  font-size: 28px;
  width: 300px;
}

.pagamento p {
  margin: 24px 0;
  line-height: 35px;
  font-size: 20px;
}

.japao1 {
  background-image: url(src/assets/Montagem\ japão\ 1\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 47%;
  height: 254px;
}

.japao2 {
  background-image: url(src/assets/Montagem\ japão\ 2\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 47%;
  height: 254px;
}

.japao3 {
  background-image: url(src/assets/Montagem\ japão\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 247px;
  margin: 24px 0 88px;
}

.montagens-japao-secao1 {
  display: flex;
  gap: 24px;
}

@media (min-width: 768px) {
  .pagamento {
    padding-left: 60px;
    padding-right: 60px;
  }

  .pagamento-titulo {
    width: 100%;
  }

  .japao1 {
    gap: 10px;
    background-image: url(src/assets/Montagem\ japão\ 1\ tablet.jpg);
    height: 254px;
    width: 312px;
  }

  .japao2 {
    background-image: url(src/assets/japao2-tablet.jpg);
    height: 254x;
    width: 312px;
  }

  .japao3 {
    background-image: url(src/assets/japao3-tablet.jpg);
    height: 182px;
  }
}

@media (min-width: 1440px) {
  .pagamento {
    padding: 0 120px;
    gap: 64px;
    margin-bottom: 104px;
  }

  .pagamento p {
    font-size: 20px;
    line-height: 35px;
  }

  .pagamento-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pagamento-secao1 {
    width: 384px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .japao1 {
    background-image: url(src/assets/japao1-desktop.jpg);
    width: 383px;
  }

  .japao2 {
    background-image: url(src/assets/japao2-desktop.jpg);
    width: 383px;
  }

  .japao3 {
    background-image: url(src/assets/japao3-desktop.jpg);
    width: 790px;
  }
}
