.img-hero {
  width: 100%;
}

.hero-texto {
  color: var(--text-primary-color);
  display: flex;
  justify-content: center;
  padding: 88px 24px;
}

.texto {
  width: 80%;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .texto {
    width: 100%;
    font-size: 26px;
    line-height: 34px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1440px) {

  .texto {
    padding: 0 120px;
  }
}
