.journey-historys {
  padding: 0px 24px 88px;
}

.chegada-container {
  margin-top: 32px;
}

.chegada-info h2 {
  margin-bottom: 24px;
}

.acomodacao-titulo {
  font-size: 28px;
  margin: 32px 0 24px;
}

.chegada-texto,
.acomodacao-texto {
  font-size: 20px;
  line-height: 30px;
}

.chegada-img {
  background-image: url('../../assets/chegadaimg-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 360px;
  margin-top: 24px;
}

.acomodacao-img {
  background-image: url('../../assets/Tokyo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  margin-top: 32px;
}

.descricao-acomodacaoimg {
  font-size: 14px;
  margin: 8px 0px 32px;
  font-style: italic;
}

@media (min-width: 768px) {
  .journey-historys {
    padding: 0px 56px 88px;
  }
  .chegada-container {
    display: flex;
    gap: 24px;
  }

  .chegada-info {
    width: 50%;
  }

  .chegada-texto,
  .acomodacao-texto {
    line-height: 36px;
  }

  .chegada-img {
    width: 50%;
    height: 365px;
    margin: 0px;
  }
}

@media (min-width: 1440px) {
  .journey-historys {
    padding: 0px 120px 88px;
  }

  .chegada-img {
    background-image: url('../../assets/chegadaimg-desktop.png');
  }

  .acomodacao-img {
    margin-top: 64px;
    background-image: url('../../assets/Tokyo-desktop.png');
  }
}
