:root {
  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000;
  --background-quaternary-color: #181818;

  --button-primary-color: #8f0101;
  --button-secondary-color: #8b0707;

  --text-primary-color: #222;
  --text-secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-primary-color);
}

main {
  flex: 1;
}
